<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heisenburg</title>
    <link rel="stylesheet" href="/login/login.css">

    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

</head>

<body>
    <main>

        <div class="gif"><img src="/login/money.gif" alt="moneyGif"></div>
        <div class="register">

            <p class="register-title">Create Account</p>
            <p class="register-text">Sign up and manage your finance </p>

            <label for="name">Your Name</label>
            <input type="text" id="name" name="name" placeholder="Sam Collins">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="yo@example.com">
            <label for="password">Password</label>
            <input type="text" id="password" name="password" placeholder="password">

            <button class="register-btn">Register</button>
            <p class="btn-divide">or</p>
            <button class="login-btn">Login</button>

        </div>

        <div class="login">

            <p class="login-title">Welcome Back!</p>
            <p class="login-text">Start managing your finace better and faster</p>

            <input type="text" id="username" name="username" placeholder="yo@example.com">
            <input type="text" id="password" name="password" placeholder="password">

            <form method="post">
                <button class="login-btn">Login</button>
            </form>
            <p class="btn-divide">or</p>
            <button class="register-btn">Register</button>

        </div>

    </main>
    <script src="/login/login.js"></script>
</body>

</html>